@CHARSET "UTF-8";

.custom-combobox_addRecruit {
	position: relative;
	display: inline-block;
}

.custom-combobox_addRecruit-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* 支持： IE7 */
	*height: 1.7em;
	*top: 0.1em;
}

.custom-combobox_addRecruit-input {
	margin: 0;
	padding: 0.3em;
}

li h2{
	color: gray;
	font-size: 30px;
}

li label {
	color:gray;
}