<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingke.boma.mapper.LogoMapper">
	<resultMap id="BaseResultMap" type="logo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="img" property="img" />
	</resultMap>
	<select id="getLogoById" parameterType="Integer" resultMap="BaseResultMap">
		select * from logo where id = #{id}
	</select>
	<insert id="insert" parameterType="logo" useGeneratedKeys="true"
		keyProperty="id">
		insert into logo( img ) values(#{img})
	</insert>
	<!-- 根据ID删除Logo -->
	<!-- <delete id="deleteLogoById" parameterType="id">
		delete from logo where
		id = #{id, jdbcType=INTEGER}
	</delete> -->
</mapper>