@CHARSET "UTF-8";

.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* 支持： IE7 */
	*height: 1.7em;
	*top: 0.1em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
}

.custom-combobox-input2 {
	margin: 0;
	padding: 0.3em;
}
.custom-combobox-input3 {
	margin: 0;
	padding: 0.3em;
}
.custom-combobox-input4 {
	margin: 0;
	padding: 0.3em;
}
.custom-combobox-input5 {
	margin: 0;
	padding: 0.3em;
}